.header_scroll {
  overflow: hidden;
  overflow-x: auto;
  width: 96%;
  margin: 0 auto;
  padding: 2% 0;
  background-color: var(--color-bg-3);
}

.header_scroll::-webkit-scrollbar {
  display: none;
}

.header_scroll_img_container {
  display: inline-flex;
  gap: 20px;
  width: 100%;
}

.header_scroll_img_container>img {
  border-radius: 5px;
  max-height: 500px;
}

.nav-bar {
  padding: 2% 0;
  background-color: var(--color-bg-3);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-bottom: 2%;
  padding-bottom: 4%;
  border-bottom: 1px solid rgb(207, 207, 207);
}

.nav-bar-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar-1-icon>i {
  font-size: 38px;
  color: var(--color-txt-2);
  place-items: center;
  margin-right: 15px;
}

.nav-bar-1-icon-info>p:first-child {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-txt-2);
}

.nav-bar-1-icon-info>p:last-child {
  font-weight: 400;
  font-size: 17px;
  color: var(--color-txt-2);
}

/* content and form form starst here  */
.tour-heading {
  margin: 3% 0;
}

.content-form {
  padding: 2% 7%;
  display: grid;
  grid-template-columns: 1fr 32%;
  grid-column-gap: 2%;
  background-color: var(--color-bg-5);
}

.box-heading {
  border-bottom: 1px solid gray;
  font-size: 18px;
  margin-bottom: 1%;
  font-weight: 600;
  padding-bottom: 1%;
}

.content-form-info {
  height: max-content;
  width: 100%;
  overflow: hidden;
}

.priceing_table {
  margin-top: 10px;
  height: 368px;
  overflow: auto;
}

.price_table>thead>tr>th {
  background-color: var(--color-bg-1);
  color: white;
  border: 1px solid white;
  padding: 4px 0;
  font-weight: 400;
}

.price_table>tbody>tr {
  border-collapse: none;
  border-bottom: 1px solid gray;
}

.price_table>tbody>tr>td {
  padding: 10px;
  border-bottom: 0.5px solid rgb(231, 231, 231);
  text-align: center;
}

.pricetable {
  height: max-content;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
}

.amenities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 4%;
}

.box.priceing_table::-webkit-scrollbar-track {
    background: #0000;
}

.amenities-item {
  margin-top: 5px;
  display: flex;
}

.amenities-item>p {
  font-size: 15px;
  line-height: 20px;
}

.amenities-item>.fa-check-circle {
  color: green;
  margin-right: 7px;
  margin-top: 2px;
}

.amenities-item>.fa-times-circle {
  margin-right: 7px;
  margin-top: 2px;
  color: red;
}

.qna {
  height: max-content;
  margin-top: 10px;
  width: 100%;
  overflow: hidden;
}

.qna>details {
  /* border: 1px solid var(--color-bg-1); */
  border-bottom: 1px solid rgb(219, 219, 219);

  padding: 1% 0;
}

.qna>details>summary {
  font-size: 17px;
  font-weight: 500;
  color: #223b67;
  cursor: pointer;
  padding: 8px 15px;
  display: flex;
  align-items: center;
}

.qna>details>summary>i {
  margin-right: 10px;
}

.qna>details>p {
  font-size: 15px;
  margin-top: 5px;
  padding: 8px 15px;
}

.content-form-form {
  background-color: var(--color-bg-3);
  padding: 5% 6%;
  border-radius: 5px;
  height: max-content;
}

.content-form-form-nav {
  background-color: var(--color-bg-3);
  font-size: 25px;
  font-weight: 600;
  color: #223b67;
  text-align: center;
}

.form-input {
  margin-top: 3%;
}

.input-lable {
  font-size: 12px;
  color: #181717;
  margin-top: 15px;
  margin-bottom: 2px;
}

.input-lable>sup {
  font-size: 15px;
  color: red;
  font-weight: 600;
}

.form-input-container {
  display: grid;
  grid-template-columns: 10% 1fr;
  text-align: center;
  border-radius: 5px;
  border: 0.4px solid rgb(184, 184, 184);
  overflow: hidden;
}

.form-input-container>i {
  display: grid;
  place-items: center;
  font-size: 18px;
  color: #223b67;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.form-input-container>input,
.form-input-container>select,
.form-input-container>select>option,
#guest_mobile {
  padding: 3% 0;
  outline: 0;
  border: 0;
  overflow: hidden;
}

.iti__country-list {
  max-width: 300px;
}

.iti__country-list::-webkit-scrollbar {
  /* display: none; */
  height: 0px;
}

.form-input-container>select:focus,
.form-input-container>select:hover {
  outline: 0;
  border: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.form-input-container>textarea {
  grid-column: 1/-1;
  padding: 1% 0;
  outline: 0;
  border: 0;
  overflow: hidden;
  min-width: 100%;
  max-width: 100%;
  text-indent: 10px;
  min-height: 100px;
  max-height: 150px;
}

.form-input-container>select:focus {
  padding: 3% 0;
  outline: 0;
  border: 0;
}

.inline-guest-select {
  display: grid;
  grid-template-columns: 10% 50% 1fr;
  text-align: center;
  place-items: center;
  border-radius: 5px;
  border: 0.4px solid rgb(184, 184, 184);
  overflow: hidden;
  margin-bottom: 5px;
}

.inline-guest-select>i {
  display: grid;
  place-items: center;
  font-size: 18px;
  color: #223b67;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.inline-guest-select>input,
.inline-guest-select>select,
.inline-guest-select>select>option {
  padding: 6% 0;
  border: 0;
  outline: 0;
}

.inline-guest-select>input {
  border-left: 1px solid gray;
  text-indent: 10px;
}

.inline-guest-select>select {
  width: 100%;
  border: 0;
  outline: 0;
}

.inline-guest-select>select:active {
  width: 100%;
  border-color: transparent !important;
}

.payment-option {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 5% 0;
  grid-column-gap: 10px;
}

.payment-option-active {
  background-color: var(--color-bg-2) !important;
  color: var(--color-txt-1) !important;
}

.payment-option-deactive {
  text-align: center;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid var(--color-bg-2);
  background-color: var(--color-txt-1);
  color: var(--color-bg-2);
  cursor: pointer;
}

.form-border-button>button {
  background-color: var(--color-bg-1);
  color: var(--color-txt-1);
  font-size: 15px;
  width: 100%;
  padding: 2%;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
}

.contact-us-div {
  background-color: var(--color-bg-3);
  padding: 5% 6%;
  border-radius: 5px;
  height: max-content;
  margin-top: 10px;
}

.contact-us-div {
  font-weight: 400;
  color: #223b67;
}

.contact-item {
  padding: 8px 15px;
  border-radius: 50px;
  background-color: var(--color-bg-2);
  width: max-content;
  margin: 10px 0;
  color: white;
  font-size: 17px;
}

.contact-item>a {
  color: white;
  margin-left: 5px;
}

.logo-button {
  margin: 10px 0;
  display: block;
}

.logo-button>div {
  max-width: 100%;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 25px 0;
  border-radius: 3px;
  display: grid;
  place-items: center;
}

.logo-button>div>img {
  height: 50px;
  max-width: 100%;
}

@media only screen and (max-width: 1100px) {
  .nav-bar {
    padding: 1.4% 13%;
  }

  .content-form {
    padding: 2% 12%;
    grid-template-columns: 1fr 41%;
  }
}

@media only screen and (max-width: 900px) {
  .content-form {
    padding: 2% 12%;
    grid-template-columns: 1fr;
  }

  .nav-bar {
    padding: 1.4% 6%;
  }

  .nav-bar-1 {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .nav-bar-1-icon>i {
    font-size: 30px;
    margin-right: 5px;
  }

  .nav-bar-1-icon-info>p:first-child {
    font-size: 14px;
  }

  .nav-bar-1-icon-info>p:last-child {
    font-size: 14px;
  }
}

@media only screen and (max-width: 500px) {
  .header_scroll_img_container>img {
    height: 250px;
    width: 95vw;
  }

  .nav-bar {
    grid-template-columns: repeat(2, 1fr);
    padding: 2% 7%;
    grid-row-gap: 10px;
    place-items: start;
  }

  .nav-bar-1 {
    padding: 5px;
    text-align: center;
  }

  .nav-bar-1-icon>i {
    margin-right: 10px;
    text-align: left;
    place-self: left;
  }

  #guest_mobile {
    margin-left: 50px;
  }


  .amenities {
    grid-template-columns: 100%;
  }

  .content-form-info {
    background-color: var(--color-bg-3);
    border-radius: 5px;
    padding: 5%;
    height: max-content;
    width: 100%;
    overflow: hidden;
  }

  .content-form {
    padding: 2% 2%;
    grid-template-columns: 100%;
  }

  .content-form-form {
    margin: 3% 0;
  }
}